body {
    background-color: #bbb;
}

#logo {
    word-spacing: 100px;
    margin: 0px;
    text-align: center;
    color: #ddd;
    font-size: 40px;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 20px;
    background-color: #485b3b;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid #33402a;
    text-shadow: 2px 2px 0 #33402a;
}

#footer {
    font-size: 18px;
    border-top: 2px solid #33402a;
    width: 100%;
    color: #ddd;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 20px;
    background-color: #485b3b;
}

#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    padding: 10px;
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
}

a:link {
    text-decoration: underline;
    color: #fff;
}

a:visited {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #999;
}

.slide {
    text-align: center;
    background-color: #777;
    color: #fff;
    padding: 40px;
    padding-top: 5px;
    margin: 20px; 
    font-size: 24px;
    font-weight: 600;
    border: 2px solid #5a5a5a;
    text-align: justify;
}
.phototext {
    padding: 2%;
    background-color: #555;
    float: left; 
    width: 40%;
    margin: 3%;
    text-align: center;
}

h2 {
    font-weight: 400;
    text-shadow: 2px 2px 0 #595959;
    text-align: center; 
    text-transform: uppercase;
    font-size: 48px;
}

ul {
    font-size: 20px; 
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
